#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.coin-image {
  width: 3vw;
  height: 3vw;
}

.coin {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
}

.coin-container {
  display: flex;
  justify-content: center;
  width: fit-content;
  align-items: center;
  text-align: center;
  padding: 2vw;
  margin: 1vw 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.2vw rgba(255, 255, 255, 0.998);
  transition: transform 0.3s ease-in-out; /* Add transition for transform */
  background-color: #1a1a1a;
  ;
}

.coin-list {
  display: flex;
  gap: 3vw;
  max-height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.green {
  color: #09f309;
}

.red {
  color: #f23434;
}

.coin-container:hover {
  transform: scale(1.05); /* Add scale transform on hover */
  background-color: #021c42;
}

#search {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  border: 1px solid white;
  background-color: rgb(21, 19, 19);
  padding: 0.5vw;
  border-radius: 0.5vw;
  width: 20vw;
  margin-bottom: 1vw;
}

#crypto-icon {
  width: 5vw;
  height: 5vw;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -2vw;
  gap: 2vw;
}

.ticker-actual {
  width: fit-content;
  animation-name: ticker;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  white-space: nowrap;
  justify-content: center;
  padding: 1vw;
}

@keyframes ticker {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.abbreviation {
  margin: 1vw;
}

.abbreviation:hover {
  color: #2271e8;
}

.moving {
  width: 1vw;
  height: 1vw;
}

.ticker-container {
  width: 100%;
  overflow-x: hidden;
  background-color: black;
  box-shadow: 0 0 0.2vw rgba(255, 255, 255, 0.998);
  border-radius: 0.5vw;
}

.sidenav {
  width: 18vw;
  background-color: #b32c33;
  margin-right: 1vw;
  padding: 2vw;
  margin-left: 0;
  top: 0;
  border-radius: 0.5vw;
  box-shadow: 0 0 0.2vw rgba(255, 255, 255, 0.998);
}

.page {
  display: flex;
}

.content {
  margin: 1em;
  width: 65vw;
}

.coin-detail-image {
  width: 10vw;
  height: 10vw;
}

/* Table */
table {
  width: fit-content;
  width: 100%;
  border: 1px solid whitesmoke;
}

/* Table Header */
thead {
  background-color: #1f1e1e;
  color: #fff;
  border: 1px solid whitesmoke;
}

/* Table Header Cells */
th {
  padding: 10px;
  text-align: center;
  border: 1px solid whitesmoke;
}

/* Table Body */
tbody {
  background-color: #313131;
  color: #fff;
  
}

/* Table Cells */
td {
  padding: 10px;
  border: 1px solid whitesmoke;
}

#table-div {
  align-items: center;
  justify-content: center;
}

#refresh {
  background-color: #103f85;
}

#refresh:hover {
  background-color: #2271e8;
}

.links {
  display: flex;
  justify-content: center;
  gap: 3vw;
}

#home {
  background-color: #6b0303;
  padding: 0.75vw;
  border-radius: 0.5vw;
  transition: background-color 0.25s, border 0.25s;
}

#home:hover {
  background-color: #b32c33;
  border: 1px solid whitesmoke;
}

.custom-tooltip {
  font-family: inherit;
  background-color: rgb(56, 50, 50);
  padding: 1vw;
  border: 1px solid whitesmoke;
}

.chart-container {
  background-color: #131212;
  padding: 1vw;
}